.bg-coffe {
    background-color: #381c95;
  }
  
  .text-coffe {
    color: #3d1013;
  }
  
  .btn-coffe {
    background-color: #3d1013;
  }
  
  .btn-coffe:hover {
    background-color: #d6bfa0;
  }
  
  .btn-coffe:active {
    background-color: #d6bfa0 !important;
  }
  
  .signup {
    color: #107bd3;
    font-weight: bold;
  }
  
  .signup:hover {
    color: #ab0606;
    cursor: pointer;
  }

  